
{% extends "blog/base.html" %}
{% block content %}
    {% for i in response %}
        <div class="card mb-3 text-center border-info" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4" style="margin-top:25px;margin-bottom:25px">
                <img src="{{ i.recipe.image }}" class="card-img h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ i.recipe.label }}</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Calories <span class="text-right">{{i.recipe.calories.quantity}} {{i.recipe.calories.unit}}</span></li>
                    <li class="list-group-item">Fat <span class="text-right">{{i.recipe.totalNutrients.FAT.quantity}} {{i.recipe.totalNutrients.FAT.unit}}</li>
                    <li class="list-group-item">Total Weight <span class="text-right">{{i.recipe.totalWeight}}</span></li>
                    <li class="list-group-item">Time needed to prepare <span class="text-right">{{i.recipe.totalTime}}</span></li>

                  </ul>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}



{% endblock content %}